<home-header></home-header>

<news-directive></news-directive>

<middle-parallax></middle-parallax>

<dashboard-directive></dashboard-directive>

<div class="grey darken-4 white-text" id="account">
  <div class="container">
    <div class="section">
      <div class="row">
        <h4>Welcome {{user.firstName}}</h4>
        <div class="divider"></div>
      </div>
      <div class="row">
        <h5>Profile Information</h5>
      </div>
      <div class="row">
        <p>Full Name : {{user.firstName}} {{user.lastName}}
           <br />Mobile Number : {{user.mobileNumber}}
           <br />Email : {{user.email}}
           <br />Address : {{user.address}}
           <br />University : {{user.university}}
           <br />Faculty : {{user.faculty}}
           <br />Academic Year : {{user.academicYear}}
         </p>

      </div>
      <div class="row">
        <a class="waves-effect waves-light btn" ng-click="editProfile()">Edit</a>
        <a class="waves-effect waves-light btn" ng-click="changePassword()">ChangePassword</a>
        <p class="red-text" ng-show="changePasswordError">Incorrect Password</p>
      </div>
      <admin-directive ng-show="admin"></admin-directive>
      <div class="row">
        <a class="waves-effect waves-light btn red" ng-click="signOut()">Sign Out</a>
      </div>
    </div>
  </div>
</div>

<div id="editProfileModal" class="modal modal-fixed-footer black white-text">
  <div class="modal-content">
    <h5>Edit Information</h5>
    <div class="row">
      <div class="col s3">
        <p>First Name:</p>
      </div>
      <div class="col s9">
        <input type="text" ng-model="user.firstName" />
      </div>
      <div class="col s3">
        <p>Last Name:</p>
      </div>
      <div class="col s9">
        <input type="text" ng-model="user.lastName" />
      </div>
      <div class="col s3">
        <p>Email:</p>
      </div>
      <div class="col s9">
        <input type="text" ng-model="user.email" />
      </div>
      <div class="col s3">
        <p>Address:</p>
      </div>
      <div class="col s9">
        <input type="text" ng-model="user.address" />
      </div>
      <div class="col s3">
        <p>University:</p>
      </div>
      <div class="col s9">
        <input type="text" ng-model="user.university" />
      </div>
      <div class="col s3">
        <p>Faculty:</p>
      </div>
      <div class="col s9">
        <input type="text" ng-model="user.faculty" />
      </div>
      <div class="col s3">
        <p>Academic Year:</p>
      </div>
      <div class="col s9">
        <input type="text" ng-model="user.academicYear" />
      </div>
    </div>
  </div>
  <div class="modal-footer grey darken-3">
    <div class="row">
      <div class="col s6">
        <button ng-click="saveEdit()" class="btn">Save</button>
      </div>
      <div class="col s6">
        <button ng-click="cancelEdit()" class="btn red">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="changePasswordModal" class="modal black white-text">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <input type="password" placeholder="Old Password" ng-model="oldPassword">
      </div>
      <div class="col s6">
        <input type="password" placeholder="New Password" ng-change="checkPassword()" ng-model="password">
        <p class="red-text" ng-show="invalidPassword">Password must be at least 6 characters</p>
      </div>
      <div class="col s6">
        <input type="password" placeholder="Confirm Password" ng-change="checkPassword()" ng-model="confirmPassword">
        <p class="red-text" ng-show="passwordMismatch">Passwords mismatch</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6">
        <button ng-click="saveChangePassword()" class="btn">Save</button>
      </div>
      <div class="col s6">
        <button ng-click="cancelChangePassword()" class="btn red">Cancel</button>
      </div>
    </div>
  </div>
</div>
