<dashboard-directive></dashboard-directive>

<div class="grey darken-4 white-text">
  <div class="container">
    <div class="section">

      <h4>My Activity</h4>
      <div class="divider" style="width: 60%"></div>

      <h5 ng-show="noParticipations">You haven't participated in any projects yet, checkout the projects tab!</h5>

      <div class="row" ng-repeat="p in participations track by $index">
        <div class="col s12">
          <h4>{{p.projectName}}</h4>
        </div>
        <div class="col s12" ng-show="p.accepted">
          <h5>{{p.workshop.selected}}</h5>
        </div>
        <div class="col s12" ng-hide="p.accepted">
          <br>
          <p>Selection Phase: {{p.selectionPhases[p.phaseIndex]}}</p>
        </div>
        <div class="col s12">
          <p class="help-block red-text" ng-show="p.rejected">Rejected!</p>
          <p class="help-block green-text" ng-show="p.accepted">Accepted!</p>
        </div>
        <div class="col s6">
          <btn class="btn btn-default" ng-hide="p.accepted || p.rejected" ng-click="reserveInterviewSlot(p)">Interview</btn>
          <br /><br />
        </div>
        <div class="col s6">
          <btn class="btn btn-danger" style="background-color: #8c001a" ng-click="cancelParticipation(p)">Cancel participation</btn>
          <br /><br />
        </div>
        <div class="divider" style="width: 60%"></div>
      </div>

    </div>
  </div>
</div>

<div id="interviewModal" class="modal modal-fixed-footer">
  <div class="modal-content black white-text">
    <div class="row" ng-show="reservationMade">
      <h5>A Slot is Reserved</h5>
      <div class="card teal darken-1 z-depth-3" style = "max-width: 400px; padding: 0">
          <div class="card-content ">
              <h5>Date : {{reservedSlot.date |  date:'longDate'}}</h5>
              <p>{{reservedSlot.info}}</p>
              <p ng-show="member">{{reservedSlot.capacity}} places remaining</p>
          </div>
          <btn class="btn btn-danger" style="background-color: #8c001a" ng-click="cancelReservation()">Cancel the reservation</btn>
      </div>
    </div>
    <div class="row" ng-hide="reservationMade">
      <p class="brown-text" ng-show="noSlots">There are currently no interview slots available for your selection phase.</p>
      <ul class="collection" ng-hide="noSlots">
        <li class="collection-item grey darken-3 white-text">
          <div class="row">
            <div class="col s3">
              <p>Date</p>
            </div>
            <div class="col s2">
              <p>Phase</p>
            </div>
            <div class="col s4">
              <p>Info</p>
            </div>
          </div>
        </li>
        <li class="collection-item grey darken-3 white-text" ng-repeat="s in slots">
          <div class="row">
            <div class="col s3">
              <p>{{s.date | date:'longDate'}}</p>
            </div>
            <div class="col s2">
              <p>{{s.phaseName}}</p>
            </div>
            <div class="col s4">
              <p>{{s.info}}</p>
            </div>
            <div class="col s2">
              <br>
              <button class="btn" ng-click="reserveSlot(s)">Reserve</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="done()">Done</button>
  </div>
</div>

<div class="modal" id="reservationFeedbackModal">
  <div class="modal-content black white-text">
    <h5>{{feedback}}</h5>
  </div>
</div>
