<dashboard-component></dashboard-component>

<div class="include" ng-include=" 'includes/home.html' "></div>
<div class="include" ng-include=" 'includes/news.html' "></div>

  <aside class = "bg-dark" id="account">
    <div ng-hide="finishedLoading" align="center">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom" style="color:#FFFFFF"></i>
    </div>

    <h2>Account</h2>
    <div class="divider" style="width: 50%"></div>
    <div class="row">
      <h3>Welcome {{user.firstName}}.</h3>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img src="img/profile-picture.jpg" class="img-responsive img-circle" id="profile" alt="">
      </div>
      <div class="col-sm-4">
        <h4> Mobile Number: {{user.mobileNumber}} </h4>
        <h4> {{user.university}} </h4>
        <h4> {{user.faculty}} </h4>
      </div>
      <div class="col-sm-4">
        <btn class="btn btn-default" ng-click="goToAccountSettings()">Account Settings</btn>
      </div>
    </div>
    <br>
    <hr class="left">
    <div class="row">
      <div class="col-sm-4">
        <btn class="btn btn-danger btn-xl" style="background-color: #8c001a" ng-click="logOut()">Log Out</btn>
      </div>
    </div>
  </aside>
