<dashboard-component></dashboard-component>

<aside id="createProjectHeader" class="text-center">
</aside>

<aside class="bg-dark" id="createProject">

  <h2>Create a Project</h2>
  <div class="divider" style="width: 50%"></div>
  <br>
  <h2 style="text-align: center; color: red;" ng-hide="admin">You are unauthorized.</h2>

  <div ng-show="admin">

  <div class="row">
    <div class="col s4">
      <input type="text" id="projectName" class="form-control" placeholder="Project Name" ng-model="projectName">
    </div>
    <div class="col s8">
      <br>
      <p style="color: #a50">Project name can't be modified later.</p>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="projectDescription" class="materialize-textarea" ng-model="projectDescription"></textarea>
      <label for="projectDescription">Project Description</label>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <input type="number" min="1" class="form-control" string-to-number ng-model="selectionPhasesNumber" ng-change="phasesNumberChange()" placeholder="Number of Selection Phases"></input>
    </div>
    <div class="col s9">
      <br>
      <p style="color: #a50">Please enter the number of phases then enter valid phases names. 'Accepted' is not a selection phase.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s3" ng-repeat="s in selectionPhases track by $index" style="diplay: inline;">
      <input type="text" id="phaseName" class="form-control" placeholder="Phase {{$index+1}} name" ng-model="$parent.selectionPhases[$index]">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p>What would you call a workshop in this project?</p>
    </div>
    <div class="col s12">
      <input type="text" id="workshopNaming" class="form-control" placeholder="Naming" ng-model="workshopNaming">
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <input type="number" min="0" class="form-control" string-to-number ng-model="workshopsNumber" ng-change="workshopsNumberChange()" placeholder="Number of Workshops" />
    </div>
    <div class="col s9">
      <br />
      <p style="color: #a50">Please enter the number of workshops then enter their names.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s3" ng-repeat="w in workshops track by $index" style="display: inline">
      <input type="text" id="workshop name" class="form-control" placeholder="Workshop {{$index+1}} name" ng-model="$parent.workshops[$index]" />
    </div>
  </div>
  <div class="row">
    <btn class="btn btn-default" ng-click="createProject()">Create</btn>
    <br><br>
    <p class="help-block text-danger" style="color: red" ng-show="createProjectErrorTrigger">{{error}}</p>
    <p class="help-block text-default" ng-show="createProjectSuccess">Project created successfully</p>
  </div>

  </div>

  <div class="row">
    <br><br>
    <btn class="btn btn-default" ng-click="backToAccount()">Back to account</btn>
  </div>

</aside>
