<div>

<ul id="slide-out" class="side-nav">
  <li><div class="userView" ng-controller = "accountCtrl">
    <img class="background" src="img/wood.jpg">
    <br>
    <div><img class="circle" src="img/profile-picture.jpg"></div>
    <div><span class="white-text name">{{user.firstName}} {{user.lastName}}</span></div>
    <div><span class="white-text email">{{user.email}}</span></div>
  </div></li>

  <li><a ng-click = "goToActivity()"><i class="material-icons">equalizer</i>My Activity</a></li>
  <li><a  ng-click = "goToAccount()"><i class="material-icons">perm_identity</i>Account</a></li>
  <li><a ng-click = "goToProjects()"><i class="material-icons">assignment</i>Projects</a></li>
  <li><a ng-click = "goToGallery()"><i class="material-icons">perm_media</i>Gallery</a></li>
  <li ng-show="admin"><a ng-click = "goToCreateProject()"><i class="material-icons">mode_edit</i>Create a Project</a></li>
  <li ng-show="admin"><a ng-click = "goToManageProjects()"><i class="material-icons">description</i>Manage Projects</a></li>


  <li><div class="divider"></div></li>
  <li ng-show="member"><a ng-click = "goToMembersArea()"><i class="material-icons">work</i>Member Area</a></li>
  <li ng-show="admin"><a ng-click = "goToAdminArea()"><i class="material-icons">vpn_key</i>Admin Area</a></li>
  <li><a  ng-click = "goToAccountSettings()"><i class="material-icons">settings</i>Account Settings</a></li>
  <li><a ng-click = "contactDevs()"><i class="material-icons">verified_user</i>Contact The Developers</a></li>

  <li><div class="divider"></div></li>

  <li><a  ng-click = "logOut()"><i class="material-icons">power_settings_new</i>Log Out</a></li>

</ul>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light red button-collapse"
  data-activates="slide-out"><i class="material-icons">label_outline</i></a>
</div>


</div>
