<header>
  <div class="header-content">
    <div class="header-content-inner">
      <br><br><br><br>
      <img id="logo-image" src="img/arabesque-logo.png">
      <hr>
      <p style = "font-family: arial; font-size: 20px">
        <strong>
          Arabesque is a student activity founded in 2011 that aims to help students increase their awareness, discover their talents and accept others. Also motivates them to play a vital role in developing their society using all their positive potentials.</p>
        </strong><!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
      </div>
    </div>
  </header>


  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <h2 class="section-heading">Mission</h2>
          <hr class="light">
          <p class="text-faded">Provide all participants with knowledge about politics, culture, and community service and discover their talents in all fields.</p>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
          <h2 class="section-heading">Vision</h2>
          <hr class="light">
          <p class="text-faded">Guiding our generation to be aware of their rights and duties in order to revive the loyalty to share in building our new Egypt.</p>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Our Projects</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <img src="img/orchestra-logo1.png" width="200" height="100">
            <h3>Arabesque Orchestra</h3>
            <p class="text-muted" style="color: white">Be a voice, not an echo!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <img src="img/league-logo.png" width="200" height="100">
            <h3>Arabesque League</h3>
            <p class="text-muted" style="color: white">One light lights another.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <img src="img/inspire-logo.png" width="250" height="100">
            <h3>Arabesque Inspire</h3>
            <p class="text-muted" style="color: white">If you see a need, take the lead.<p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section id="projects">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Projects</h2>
            <hr style="border-color: black">
          </div>
        </div>
      </div>
      <div class="container">
        <br>
        <div class="row">
          <div class="col-lg-3">
            <img src="img/orchestra-logo.png" width="200" height="100">
            <h3>Arabesque Orchestra</h3>
          </div>
          <div class="col-lg-9">
            <h4 style="margin: 50px">Achieves awareness through art. This happens through workshops that aim to enhance students' talents and helps them improve their artistic sense and skills.</h4>
          </div>
        </div>
        <hr style="border-color: black">
        <br><br>
        <div class="row">
          <div class="col-lg-3">
            <img src="img/league-logo.png" width="200" height="100">
            <h3>Arabesque League</h3>
          </div>
          <div class="col-lg-9">
            <h4 style="margin: 50px">Aims to increase culture awareness among youth by seminars and group discussions in a tolerant enviroment that respects diversity and variety of opinions.</h4>
          </div>
        </div>
        <hr style="border-color: black">
        <br><br>
        <div class="row">
          <div class="col-lg-3">
            <img src="img/inspire-logo.png" width="250" height="100">
            <h3>Arabesque Inspire</h3>
          </div>
          <div class="col-lg-9">
            <h4 style="margin: 50px">Inspires students to make a difference in their community through seminars and talks provided by the most successful youth.</h4>
          </div>
        </div>
      </div>
    </section>


<div class="container include-gallery" ng-include=" 'gallery.html'"></div>

<aside class = "bg-dark" id = "account">

  <!-- sign in div -->
  <div class="text-left" style = "font-family: 'calibri'; float: left">

    <h1>Sign In</h1>

    <br />

    <div class = "form-group">

      <!-- <label style = "font-family: 'calibri'">Mobile Number:</label> -->

      <input type="text" class="form-control" placeholder="Mobile number:" id="name" required=""
      data-validation-required-message="Please enter your mobile number." maxlength="11" size = "40" style = "color: #FFFFFF"
      aria-invalid="false" ng-model="mobileNumber">

    </div>

    <br />

    <div class="form-group">

      <!-- <label>Password:</label> -->

      <input type="password" class="form-control" placeholder="Password: " id="name" required=""
      data-validation-required-message="Please enter your password." style = "color: #FFFFFF" aria-invalid="false" ng-model="password">

      <p class="help-block text-danger" id="loginError" ng-show="loginErrorTrigger">{{loginError}}</p>

    </div>

    <br /> <br />

    <btn class="btn btn-default btn-xl" ng-click="signIn()">Sign In</btn>

  </div>

  <br /><br />  <br /><br />

  <!-- sign up div -->
  <div class = "container text-right" style = "font-family: calibri; text-align: center">
    <h3>Don't have an account?  Join Arabesque now!</h3>
    <br /><br />
    <a class="btn btn-default btn-xl wow"  ng-click="signUp()">Sign Up</a>

  </div>

</aside>
