<dashboard-component></dashboard-component>

<aside class="bg-dark">

  <h2>Manage Interview Slots of {{project.name}}</h2>
  <div class="divider" style="width: 50%"></div>
  <br>

  <h2 style="text-align: center; color: red;" ng-hide="member">You are unauthorized.</h2>

  <div ng-show="member">

    <div class="row" ng-show="noSlots">
      <h3 style="color: #a50" ng-show="noSlots">No interview slots created for this project.</h3>
      <br />
      <btn class="btn btn-default" ng-click="createSlot()">Create a new one</btn>
    </div>

    <div class="row" ng-hide="slotReserved" ng-repeat="s in slots">
      <div class="card teal darken-1 z-depth-3" style = "max-width: 600px; margin-right: 5px" ng-click="slotReservsations(s)">
          <div class="card-content ">
              <h4>Date : {{s.date |  date:'longDate'}}</h4>
              <h4>Phase : {{s.phaseName}}</h4>
              <p>{{s.info}}</p>
              <br />
              <p>{{s.capacity}} places remaining</p>
          </div>
          <btn class="btn btn-default" style="background-color: teal" ng-click="slotReservations(s)">View reservations</btn>
          <btn class="btn btn-default" style="background-color: teal" ng-click="editSlot(s)">Edit this slot</btn>
          <btn class="btn btn-danger" style="background-color: #8c001a" ng-click="deleteSlot(s)">Delete this slot</btn>
      </div>
    </div>

  </div>

  <br><br>
  <btn class="btn btn-default" ng-click="back()">Back</btn>

</aside>
