<div class="container include-gallery" ng-include=" 'gallery.html' ">
</div>

<aside class="bg-dark" id="account">
  <h2>Member Area</h2>
	<hr class="left">
  <div ng-hide="member">
    <h2 style="text-align: center; color: red;" ng-hide="member">You are unauthorized.</h2>
  </div>
  <div ng-show="member">
    <btn class="btn btn-default" ng-click="getUsersList()">Promote a user's level</btn>
    <p class="text-danger" ng-show="getUsersListError">An error occured, please check the browser console or contact the technical team.</p>
  </div>
  <br><br><br>
  <btn class="btn btn-default btn-xl" ng-click="backToAccount()">Back To Account</btn>
</aside>
