<div ng-show="noNews">
  <div class="divider" style="width: 50%"></div>
  <br>
  <p>There are no news.</p>
</div>
<div ng-repeat="n in news">
  <div class="divider" style="width: 50%"></div>
  <br>
  <div class="row">
    <div class="col s4">
      <h5>{{n.userName}}</h5>
    </div>
    <div class="col s4">
      <br>
      <p>{{n.date}}</p>
    </div>
  </div>
  <div class="row">
    <h4>{{n.title}}</h4>
  </div>
  <div class="row" style:"margin: 50px;">
    <p>{{n.text}}</p>
  </div>
  <br>
</div>
