<dashboard-component></dashboard-component>

<aside class="bg-dark">

  <h2>Project Settings: {{project.name}}</h2>
  <div class="divider" style="width: 50%"></div>

  <h2 style="text-align: center; color: red;" ng-hide="admin">You are unauthorized.</h2>

  <div ng-show="admin">
    <br><br>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="projectDescription" class="materialize-textarea" ng-model="projectDescription"></textarea>
        <label for="projectDescription">Edit Project Description</label>
      </div>
      <div class="col s12">
        <btn class="btn btn-default" ng-click="editDescription()">Save</btn>
      </div>
      <br>
      <p style="color: red" ng-show="editDescriptionErrorShow">{{editDescriptionError}}</p>
      <p ng-show="editDescriptionSuccessShow">Project description saved</p>

    </div>

    <div class="row">
      <div class="col s3">
        <p>Selection Phases: </p>
      </div>
      <div class="col s1" ng-repeat="p in project.selectionPhases">
        <p>{{p}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <btn class="btn btn-default" ng-click="addPhase()">Add a phase</btn>
      </div>
      <div class="col s6" ng-show="addPhaseShow">
        <br>
        <input type="text" id="phaseName" class="form-control" placeholder="Phase Name" ng-model="addedPhase">
      </div>
      <div class="col s6" ng-show="addPhaseShow">
        <br>
        <btn class="btn btn-default" ng-click="saveAddPhase()">Add</btn>
        <btn class="btn btn-default" style="background-color: #8c001a" ng-click="discardAddPhase()">Cancel</btn>
        <p style="color: red" ng-show="addPhaseErrorShow">{{addPhaseError}}</p>
        <p ng-show="addPhaseSuccessShow">Phase added successfully. It will appear after revisiting this page.</p>
      </div>
      <div class="col s12">
        <br>
        <p style="color: #a50">Participants who are already accepted will remain accepted until edited otherwise.</p>
      </div>
    </div>

    <div class="row" ng-hide="(project.secondPrefWorkshops.length === 0)">
      <div class="col s2">
        <p>First preference workshops choices: </p>
      </div>
      <div class="col s2" ng-repeat="w1 in project.firstPrefWorkshops track by $index">
        <p>{{w1}}</p>
      </div>
    </div>
    <div class="row" ng-hide="(project.secondPrefWorkshops.length === 0)">
      <div class="col s2">
        <p>Second preference workshops choices: </p>
      </div>
      <div class="col s2" ng-repeat="w2 in project.secondPrefWorkshops track by $index">
        <p>{{w2}}</p>
      </div>
    </div>

    <div class="row">
      <btn class="btn btn-default" ng-click="editWorkshops()">Edit workshops</btn>
    </div>

    <div class="row" ng-show="editWorkshopsShow">
      <div class="row">
        <div class="col s12">
          <h4>Workshops available for first preference choice</h4>
        </div>
        <div class="col s4">
          <input type="number" min="0" class="form-control" string-to-number ng-model="firstPrefWorkshopsNumber" ng-change="firstPrefWorkshopsNumberChange()" placeholder="Number of Workshops" />
        </div>
        <div class="col s2" ng-repeat="w1 in firstPrefWorkshops track by $index">
          <input type="text" id="workshop name" class="form-control" placeholder="Workshop {{$index+1}} name" ng-model="$parent.firstPrefWorkshops[$index]" />
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h4>Workshops available for second preference choice</h4>
        </div>
        <div class="col s4">
          <input type="number" min="0" class="form-control" string-to-number ng-model="secondPrefWorkshopsNumber" ng-change="secondPrefWorkshopsNumberChange()" placeholder="Number of Workshops" />
        </div>
        <div class="col s2" ng-repeat="w2 in secondPrefWorkshops track by $index">
          <input type="text" id="workshop name" class="form-control" placeholder="Workshop {{$index+1}} name" ng-model="$parent.secondPrefWorkshops[$index]" />
        </div>
      </div>

      <div class="row">
        <div class="col s3">
          <btn class="btn btn-default" ng-click="saveEditWorkshops()">Save</btn>
        </div>
        <div class="col s3">
          <btn class="btn btn-default" style="background-color: #8c001a" ng-click="discardEditWorkshops()">Hide</btn>
        </div>
        <div class="col s12">
          <p ng-show="editWorkshopsSuccess">Workshops successfully saved</p>
        </div>
        <div class="col s12">
          <p style="color: red" ng-show="editWorkshopsErrorShow">{{editWorkshopsError}}</p>
        </div>
      </div>
    </div>

  </div>

  <br><br>
  <btn class="btn btn-default" ng-click="back()">Back</btn>

</aside>
