<aside class="bg-dark" style = "text-align: center">
    <br /><br />
    <h2>Join Arabesque</h2>
    <!-- <hr> -->

    <br /><br />  <br /><br />

    <div align = "center" id = "stageOne">

        <!-- First name -->
        <h5 style = "margin-right: 370px">First Name </h5>
        <input type="text" class="form-control" placeholder="Enter your first name" aria-invalid="false" required="true" ng-model="firstName"   style = "width: 500px; color: #FFFFFF">
        <p class="help-block text-danger" id="firstName" ng-show="firstNameInvalid">Please enter your first name *</p>

        <br /><br />

        <!-- Last name -->
        <h5 style = "margin-right: 375px">Last Name</h5><br />
        <input type="text" class="form-control" placeholder="Enter your last name" aria-invalid="false" required="true" ng-model="lastName"  style = "width: 500px; color: #FFFFFF">
        <p class="help-block text-danger" id="lastName" ng-show="lastNameInvalid">Please enter your last name *</p>


        <br />

        <!-- Email -->
        <h5 style = "margin-right: 430px">Email </h5><br />
        <input type="email" class="form-control" placeholder="Enter your email" aria-invalid="false" required="true" ng-model="email" style = "width: 500px; color: #FFFFFF">
        <p class="help-block text-danger" id="email" ng-show="emailInvalid">Please enter a valid email *</p>


        <br />

        <h5 style = "margin-right: 320px">Mobile Number</h5><br />
        <input type="text" class="form-control"  placeholder="Enter your mobile number" aria-invalid="false" required="true" maxlength = "11" ng-model="mobileNumber" style = "width: 500px; color: #FFFFFF">
        <p class="help-block text-danger" id="mobileNumberEmpty" ng-show="mobileNumberInvalid">Please enter a valid mobile number *</p>


        <br />
        <br />

        <!-- <div class="row" align = "left" style = "margin-left: 595">
        <div class="col s12 m6"> -->

        <div class="card blue-grey darken-1 z-depth-3" style = "max-width: 600px; margin-right: 5px">     <!-- blue-grey vs teal? -->
            <div class="card-content ">
                <p>
                    You're going to be using your mobile number (not your email) whenever you sign in, so make sure you enter your correct number!
                </p>
            </div>
        </div>

        <br />

        <div style = "margin-right:50px">

            <a class = "btn" id = "stageOneDone" ng-click = "checkFields(true)">Continue</a>
            <div class="btn btn-danger btn-xl" ng-click="cancelSignUp()">Cancel</div>

        </div>


    </div>
    <!-- First stage ends here-->


    <!-- Second stage -->
    <div align = "center" id = "stageTwo" style = "display: none">

        <h5 style = "margin-right: 380px">Password</h5><br />
        <input type="password" class="form-control" placeholder="Enter your password" aria-invalid="false" required="true" ng-model="password" style = "width: 500px; color: #FFFFFF">
        <p class="help-block text-danger" id="password" ng-show="passwordInvalid">Password must be at least 8 characters *</p>

        <br />

        <h5 style = "margin-right: 290px">Confirm Password </h5><br />
        <input type="password" class="form-control" placeholder="Re-enter your password" aria-invalid="false" required="true" ng-model="confirmPassword" style = "width: 500px; color: #FFFFFF">
        <p class="help-block text-danger" id="confirmPassword" ng-show="confirmPasswordInvalid">Passwords don't match *</p>

        <br />

        <h5 style = "margin-right: 410px">Address</h5><br />
        <input type="Text" class="form-control" placeholder="Enter your address" aria-invalid="false" ng-model="address" style = "width: 500px; color: #FFFFFF">

        <br />

        <h5 style = "margin-right: 390px">University</h5><br />
        <input type="text" class="form-control" placeholder="Enter your university name" aria-invalid="false" required="true" ng-model="university" style = "width: 500px; color: #FFFFFF">

        <br />

        <h5 style = "margin-right: 420px">Faculty</h5><br />
        <input type="text" class="form-control" placeholder="Enter your faculty name" aria-invalid="false" ng-model="faculty" style = "width: 500px; color: #FFFFFF">

        <br />

        <h5 style = "margin-right: 330px">Academic Year</h5><br />
        <input type="text" class="form-control" placeholder="Enter your academic year" aria-invalid="false" ng-model="academicYear" maxlength = "4" style = "width: 500px; color: #FFFFFF">
        <br><br>

        <div class="btn btn-default btn-xl" ng-click="continue()">Sign Up</div>
        <div class="btn btn-danger btn-xl" ng-click="cancelSignUp()">Cancel</div>

    </div>


    <p class="help-block text-danger" ng-show="fillingError">Please check the fields for filling errors.</p>
    <p class="help-block text-danger" ng-show="apiError">{{signUpError}}</p>

</aside>
