<aside class="bg-dark" id="account">
    <h2>Sign up page</h2>
    <br>
    <h4>Mobile Number: </h4> 			
    <input type="text" class="form-control" placeholder="Enter your mobile number" aria-invalid="false" required="true">
    <h4>Password: </h4> 			
    <input type="password" class="form-control" placeholder="Enter your password" aria-invalid="false">
    <h4>Password: </h4> 			
    <input type="password" class="form-control" placeholder="Enter your password" aria-invalid="false">
    <h4>Password: </h4> 			
    <input type="password" class="form-control" placeholder="Enter your password" aria-invalid="false">
    <h4>Password: </h4> 			
    <input type="password" class="form-control" placeholder="Enter your password" aria-invalid="false">
    <h4>Password: </h4> 			
    <input type="password" class="form-control" placeholder="Enter your password" aria-invalid="false">
    <h4>Password: </h4> 			
    <input type="password" class="form-control" placeholder="Enter your password" aria-invalid="false">
    <h4>Password: </h4> 			
    <input type="password" class="form-control" placeholder="Enter your password" aria-invalid="false">
    <h4>Password: </h4> 			
    <input type="password" class="form-control" placeholder="Enter your password" aria-invalid="false">    	
</aside>